@charset "UTF-8";

header::after{
	content: '';
	display: table;
	clear: both;
}


.navbarToggleNavContent{
	padding-left= none;
}

.navBar{
	padding-top= 20px;
}




#mainName{
  	z-index:9999999999;
  	background-color: transparent; 
  	color: white; 
  	font-size: 80px; 
  	display: block;
  	width: 65%;
  	margin-left: auto; margin-right: auto;
}

#myProTitle{
  	z-index:9999999999;
  	background-color: transparent; 
  	color: white; 
  	font-size: 40px; 
  	display: block;
  	width: 40%;
  	margin-left: auto; margin-right: auto;
}

#bio{
  	z-index:9999999999;
  	background-color: transparent; 
  	color: white; 
  	font-size: 25px; 
  	display: block;
}

.aboutMe{
  	z-index:9999999999;
  	background-color: transparent;
  	color: white;  
  	display: block;
  	padding: 5px;
  	padding-top: 100px;
}


#navBar{
	background: black;
}

#content{
	z-index: 1;
	text-align: center;
	color: white;
	position: absolute;
	top: 0%;
	left: 50%;
	margin: 0 auto;
	transform: translate(-50%, 50%);
}

