<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="header :: head"></head>
  <body  th:replace="base :: base"></body>
  <div class="container-fluid" style="height: 100%; background: black">
  	<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <iframe style="width: 100vw;height: 100vh;position: relative;" src="resume.pdf" frameborder="0" allowfullscreen></iframe>
        </div>
</div>
  </div>
  <div  th:replace="footer :: footer"></div>
</html>